.purpose-wrap{
    margin-top: 104px;
    h2{
        font-weight: 600;
        font-size: 35px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #424242;  
        margin-bottom: 64px;
    }
    .purpose-line{
        display: flex;
        flex-direction: column;
        gap: 186px;
        margin-bottom: 80px;

        .purpose-block{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .block-img{
                width: 485px;
                height: 485px;
            }
            .block-content{
                width: 646px;
                .t1{
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 52px;
                    text-align: start;
                    text-transform: uppercase;
                    color: #55A630;
                    margin-bottom: 41px;
                }
                .t2{
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 35px;
                    color: #424242;
                }
                button{
                    margin-top: 30px;
                    width: 320px;
                    padding: 15px 20px;
                    background: #55A630;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    color: #FFFFFF;
                 }

            }
        }
    }
    .wrap {
        text-align: center;
        margin-bottom: 176px;
      }
      
      .pagination {
        display: inline-block;
        text-align: center;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}
       
          
        
          
        
    
}